  
  .dropzone {
    padding: 20px;
    border: 3px blue dashed;
    width: 60%;
    position: relative;
    left: 60px;
  }
  
  .btn:hover {
    background-color: blue;
    color: aliceblue;
  }
  
  .file-list {
    display: flex !important;
    flex-wrap: wrap;
    width: auto;
    padding: 10px 20px;
    margin: 20px 30px;
  }
  
  .file-list img {
    height: 100%;
    width: 100px;
    padding-right: 10px;
    object-fit: cover;
  }