.forgotpass-title{
  text-align: center;
}
.subtext{
  text-align: justify;
}
.form{
  border: 1px solid;
  padding: 50px;
  width: 35%;
  margin-left: 33%;
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#email{
  width:90%;
  margin-left: 5%;
}
.mb-3{
  text-align: center;
}
.button{
  margin-left: 38%;
}